<div class="table-wrap">
  <table class="table">
    @if (caption()) {
      <caption class="table__caption">{{ caption() }}</caption>
    }
    <thead>
      <tr>
        @for (col of columns(); track col.key) {
          <th scope="col" [style.text-align]="col.align ?? 'start'">{{ col.label }}</th>
        }
        @if (rowActions()) {
          <th scope="col" class="table__actions-head">Actions</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of rows(); track $index) {
        <tr>
          @for (col of columns(); track col.key) {
            <td [style.text-align]="col.align ?? 'start'">{{ row[col.key] }}</td>
          }
          @if (rowActions(); as tpl) {
            <td class="table__actions-cell">
              <ng-container [ngTemplateOutlet]="tpl" [ngTemplateOutletContext]="{ $implicit: row }" />
            </td>
          }
        </tr>
      } @empty {
        <tr>
          <td class="table__empty" [attr.colspan]="columns().length + (rowActions() ? 1 : 0)">
            {{ emptyMessage() }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
